:root {
  --theme-color: #575ed8;
  --main-bg-color: #333;
  --alternate-bg-color: #fff;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
  padding: 10px 20px;
  color: var(--theme-color);
  text-align: center;
}

#socket-chat {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

#chat-window{
  height: 400px;
  margin: 10px 10px;
  overflow: auto;
  background: var(--alternate-bg-color);
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: var(--theme-color);
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: var(--alternate-bg-color);
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: var(--theme-color);
  color: var(--alternate-bg-color);
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}